@use 'variables';
@use 'mixins';

.current-games{
    background: linear-gradient(var(--spearmint), var(--baby-blue));
    grid-auto-rows: max-content;
    min-height: 100vh;
    font-family: var(--heading-font);
    color: var(--dark-blue);

    &__new{
        @include mixins.default-grid;
        cursor: pointer;
        border: none;
        outline:none;
        place-self: center center;
        width: 10rem;
        padding: 0.75rem 0;
        font-size: 1.25rem;
        border-radius: 999rem;
        background-color: var(--dark-blue);
        color: var(--baby-blue);
        margin: 2rem 0 3.5rem;

        &:hover{
            background-color: var(--baby-blue);
            color: var(--dark-blue);
        }
    }
    
    &__new-icon{
        grid-column: 1/2;
        grid-row: 1/2;
        margin-right: 4rem;
        place-self: center center;
    }

    &__new-text{
        grid-column: 1/2;
        grid-row: 1/2;
        margin-left: 2rem;
        place-self: center center;
    }


    &__heading{
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;

        &_start{
            margin-top: 2rem;
        }
    }

    &__game-display{
		@include mixins.default-grid;
		padding: 2rem 3%;
		grid-column-gap: 3%;
		grid-row-gap: 8rem;
		justify-content: center;
		grid-template-columns: repeat(auto-fit, minmax(21.35rem, 0.29fr));
        margin-bottom: 8rem;

		// @include mixins.medium-screen{
		// 	grid-column: 2/3;
		// }
	}
}

.game{
    @include mixins.default-grid;
    grid-auto-rows: max-content;
    position: relative;
    background-color: var(--dark-blue);
    color: var(--baby-blue);
    cursor: pointer;
    height: 10.5rem;
    text-align: center;
    border-radius: 0.7rem;

    transition: all 250ms ease-in-out;

    &:hover{
        background-color: var(--baby-blue);
        color: var(--dark-blue);
    }

    &_inactive{
        opacity: 0.6;
        cursor: default;
        pointer-events: none;

    }

    &__name{
        font-weight: bold;
        font-size: 1.2rem;
        margin: 1rem 0 0.75rem;
    }

    &__turn{
        margin-bottom: 0.75rem;
    }

    &__password{
        margin-bottom: 0.75rem;
    }

    &__updated{
        margin-bottom: 0.75rem;
    }

    &__contributors{
        color: var(--dark-blue);
        cursor: default;
        position: absolute;
        text-align: left;
        line-height: 1.35;
        top: 11rem;
    }
}