@use 'variables';
@use 'mixins';

.new-game{
    @include mixins.name-input-page;

    &__heading{
        @include mixins.name-input-heading;

        @include mixins.landscape{
			font-size: 1.75rem;
		}

        &_name{
            margin-top: 2rem;

            @include mixins.landscape{
                margin-top: 2.5rem;
            }
        }

        &_password{
            position: relative;
            place-self: center start;
            margin-left: 1.5rem;
            grid-row: 5/6;
            grid-column: 1/2;

            @include mixins.landscape{
                margin-left: 20%;
            }
        }
    }

    &__input{
        @include mixins.text-input;
        margin: 1.5rem 1.5rem 0.5rem;

        @include mixins.landscape{
			margin: 1.5rem 20% 1rem;
		}

        &_password{
            margin: 1rem 1.5rem 1.9rem;

            @include mixins.landscape{
                margin: 1rem 20% 1.9rem;
            }
        }
    }

    &__error{
        @include mixins.name-input-error;
    }

    &__submit{
        @include mixins.default-grid;
        @include mixins.interface-button;
        margin-bottom: 5rem;
    }

    &__icon{
        @include mixins.button-icon;
    }

    &__submit-text{
        @include mixins.button-text;
    }

    &__switch-container{
        position: absolute;
        left: 7.5rem;
        top: -0.35rem;

        @include mixins.landscape{
            left: 8.5rem;
            top: -0.25rem;
		}

    }

    &__switch{
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;


    }

    &__checkbox{
        opacity: 0;
        width: 0;
        height: 0;
        
        &:checked + .new-game__slider{
            background-color: var(--dark-blue);
        }

        &:focus + .new-game__slider{
            box-shadow: 0 0 1px var(--dark-blue);
        }

        &:checked + .new-game__slider:before{
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
    }

    &__slider{
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 34px;

        &:before{
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 50%;
        }
    }

    &__password{
        @include mixins.default-grid;
        width: 100%;
    }
}