@use 'variables';
@use 'mixins';

.title-screen{
    background: linear-gradient(var(--spearmint), var(--baby-blue));
    grid-template-rows: max-content auto max-content;
    min-height: 100vh;
    font-family: var(--heading-font);
    

  &__text{
      color: var(--dark-blue);
      grid-column: 1/2;
      grid-row: 2/3;
      place-self: center center;
      font-size: 2.05rem;
      text-align: center;
      margin: 7.1%;
  }

  &__link{
    @include mixins.start-button;
    grid-column: 1/2;
    place-self: end center;
    margin-bottom: 2.35rem;
  }

  &__icon{
    margin-right: 0.75rem;
  }
}